@import 'variables/variables';
@import 'mixins/mixins';
@import 'fonts/fonts';
@import 'libs/reset';
@import 'pages/moviecard';
@import 'pages/header';
@import 'pages/categoties';
@import 'pages/sort';

@import 'pages/moviepage';

@import 'pages/index';
@import 'pages/search';
@import 'pages/footer';
