.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 15px;
}

.trailer {
	max-width: 360px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	align-content: center;
}

.trailer-title h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #5e576a;
}

.trailer-main {
	width: 100%;
}

.trailer-video {
	width: 100%;
	height: 200px;
}

.reviews-title h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #5e576a;
}

#reviews-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	max-width: 360px;
}

.reviews-avatar {
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	color: #212121;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}
.avatar {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #77c1bb;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	text-align: center;
}
.reviews-post {
	font-size: 16px;
 	font-family: sans-serif;
 	color: #757575;
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

.username {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #212121;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 10px;
}

.reviews-text {
	max-height: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 5px;
	/* display: -webkit-box;
    -webkit-line-clamp: 2;
	-webkit-box-orient: vertical; */

}
.reviews-date {
	font-family: 'Roboto', sans-serif;
	color: #5e576a;
	width: 15%;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
}
 
