@font-face {
  font-family: "MyriadPro-Regular";
  src: url("css/fonts/MyriadPro-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.carousel {
  position: relative;
  width: 285px;
}

img {
  width: 86px;
  height: 86px;  
  display: block;
}

.gallery {
  width: 100%;
  overflow: hidden;
}

.gallery ul {
  height: 100%;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.gallery li {
  display: inline-block;
  
}

.main_img {
  max-width: 320px;
  width: 100%;
  height: 180px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}

.main_img h1 {
  padding: 22px;
  font: 20px Roboto, sans-serif;
  color: #ffffff;
  padding-top: 120px;
}

.text_description {
  font: 16px MyriadPro, sans-serif;
  padding: 25px 22px;
  color: #d4d4d4;
}

.main_card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.images li img {
  border-radius: 50%;
}

.images li {
  margin-left: 5px;
  margin-right: 5px;
}

.actors {
  width: 100%;
  align-items: flex-start;

}

.actors h2 {
  font: 20px Roboto, sans-serif;
}

.links .star {
  display: inline-block;
  background: url("../img/star.png") no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.links .ring {
  display: inline-block;
  background: url("../img/ring.png") no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}

.main_links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 5px;

}

.time_item {
  margin: 0;
  color: #77c1bb;
  font: 14px Roboto, sans-serif;
}