
    <footer class="footer">
        <div class="footer-icons">
            <span class="footer-img"><a href="#"><img src="../img\if_Facebook.png" alt="facebook icon"></a></span>
            <span class="footer-img"><a href="#"><img src="../img\if_YouTube.png" alt="youtube icon"></a></span>
            <span class="footer-img"><a href="#"><img src="../img\if_Google.png" alt="google plus icon"></a></span>
            <span class="footer-img"><a href="#"><img src="../img\if_Intsagram.png" alt="instagram icon"></a></span>
        </div>
        <div class="footer-bottom-line">
            <span><a href="#" class="footer-bottom-line-item">Главная</a></span>
            <span><a href="#" class="footer-bottom-line-item">Контакты</a></span>
            <span><a href="#" class="footer-bottom-line-item">Правообладателям</a></span>            
        </div>
    </footer>
</body>
</html>