<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>footer</title>
    <link rel="stylesheet" href="sass/pages/_footer.css" />
    <script src="js/footer.js"></script>
</head>
<body>
    <footer class="footer">
        <div class="footer-icons">
            <span><img src="../img\if_Facebook.png" alt="facebook icon"></span>
            <span><img src="../img\if_YouTube.png" alt="youtube icon"></span>
            <span><img src="../img\if_Google.png" alt="google plus icon"></span>
            <span><img src="../img\if_Intsagram.png" alt="instagram icon"></span>
        </div>
        <div class="footer-bottom-line">
            <span class="footer-bottom-line-item">Главная</span>
            <span class="footer-bottom-line-item">Контакты</span>
            <span class="footer-bottom-line-item">Правообладателям</span>            
        </div>
    </footer>
</body>
</html>