<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Mooogle</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicon.png" type="image/png">
</head>

<body>
    <header>
        <div id="button">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <div class="button__line"></div>
        </div>
        <div id="wrapper">
            <div class="menu">
                <div class="menu_head">
                    <div></div>
                    <p class="menu__title">Mooogle</p>
                </div>
                <div id="block" class="menu__img1"><p class="menu__category">Фильмы</p></div>
                <ul class="menu__films">
                    <li><a class="link" href="sort.html?p=getUpcoming">Премьеры</a></li>
                    <li><a class="link" href="sort.html?p=getNowPlaying">Сейчас на экранах</a></li>
                    <li><a class="link" href="sort.html?p=getTopRated">Топ 100</a></li>
                </ul>
                <div id="block" class="menu__img2"><label class="menu__category">Сериалы</label></div>
                <ul class="menu__films">
                    <li><a class="link" href="sort.html?p=getOnTheAirTV">Премьеры</a></li>
                    <li><a class="link" href="sort.html?p=getAiringTodayTV">Сейчас на экранах</a></li>
                    <li><a class="link" href="sort.html?p=getTopRatedTV">Топ 100</a></li>
                </ul>
                <div id="block" class="menu__img3"><label class="menu__category">Избранное</label></div>
                    <ul class="menu__films">
                        <li><a class="link" href="sort.html?p=favoritesAll">Все</a></li>
                    </ul>
            </div>


            <div class="head">
                <div><img src="../img/logo_1024.png" class="head__logo" alt="logo">
                    <h1 class="main-title">Mooogle</h1>
                </div>

                <img src="../img/serch480.png" class="head__search" alt="search">
            </div>


            <div class="head-1">
                <div>
                    <img src="../img/serch480.png" class="head-1__search" alt="search">
                    <form action="/sort.html" method="get">
                        <input class="head-1__input-search" type="search" placeholder="Search" name="s">
                    </form>
                </div>

                <img src="../img/mic480.png" class="head-1__mic" alt="search">
            </div>

        </div>

    </header>