<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<header>
	<div id="button">
		<div class="button__line"></div>
		<div class="button__line"></div>
		<div class="button__line"></div>
	</div>
	<div id="wrapper">
		<div class="menu">
			<div id="block" class="menu__img1"><label class="category">Фильмы</label></div>
			<ul class="menu__films">
				<li><a class="link" href="/sort.html">Премьеры</a></li>
    		<li><a class="link" href="/sort.html">Сейчас на экранах</a></li>
    		<li><a class="link" href="/sort.html">Топ 100</a></li>
			</ul>
			<div id="block" class="menu__img2"><label class="category">Сериалы</label></div>
			<div id="block" class="menu__img3"><label class="category">Избранное</label></div>
		</div>
		
		
		<div class="head">
		<div><img src="../img/logo480.png" class="head__logo" alt="logo">
			<h1 class="main-title">Mooogle</h1></div>
			
			<img src="../img/serch480.png" class="head__search" alt="search">
		</div>
		
		
		<div class="head-1">
		<div>
		 <img src="../img/serch480.png" class="head-1__search" alt="search">
		 <input class="head-1__input-search" type="text" placeholder="Search">
		</div>

		<img src="../img/mic480.png" class="head-1__mic" alt="search">
		</div>

	</div>

	</header>
