<div class="search_hidden search" id="search">
    <div class="logo_img">
        <picture>
            <source media="(min-width: 1024px)" srcset="img/1024-Composed-layer@1X.png 1x, img/1024-Composed-layer@1X.png 2x">
            <source media="(min-width: 768px)" srcset="img/logoStart768@1X.png 1x, img/logoStart768@2X.png 2x">
            <source media="(min-width: 480px)" srcset="img/logoStart480.png">
            <img class="logo" src="img/logoStart360.png" alt="mooogle_mooo">
        </picture>
    </div>
    <form action="#" id="search-form">
        <input type="search" name="searchMovie" placeholder="Search" id="search-form__input_search" onfocus="searchInput_onFocus()">
        <input type="submit" value="" id="search-form__input_submit">
    </form>
</div>
<div id="black_background">
    <div id="searchMovie"></div>
</div>