<div class="search_hidden search" id="search">
    <div class="logo_img">
        <picture>
            <source media="(min-width: 1023px)" srcset="img/1024-Composed-layer@1X.png 1x, img/1024-Composed-layer@1X.png 2x">
            <source media="(min-width: 767px)" srcset="img/768-Composed-layer@1X.png 1x, img/768-Composed-layer@1X.png 2x">
            <source media="(min-width: 479px)" srcset="img/logo_480.png">
            <img class="logo" src="img/logo_360.png" alt="mooogle_mooo">
        </picture>
    </div>
    <form action="#" id="search-form">
        <input type="search" name="searchMovie" placeholder="Search" id="search-form_input_search" onfocus="searchInput_onFocus()">
        <input type="submit" value="" id="search-form_input_submit">
    </form>
</div>
<div id="black_background">
    <div id="searchMovie"></div>
</div>