li{
  list-style-type: none;
}
#wrapper{
  width: 100%;
}

header{
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: row;
  padding: 18px 25px 21px 24px;
  background: #77c1bb;
  z-index: 99;
}
 
.head{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
}
 .head div {
  display: flex;
 }
.link {
  line-height: 30px;
 font-size: 15px;
 text-decoration: none;
 color: #372c48;
 font-family: 'Roboto-Medium', sans-serif;
}
 .link:hover {
  color: #77c1bb;
 }
.head__logo{
  height: 31px;
  width: 34px;
  margin:0 11px 0 23px;
}
.head__search{
  width: 25px;
  height: 25px;
}
.head-1{
 justify-content: space-between;
 display: none;
 align-items: center;
 width: 100%;
}
 .head-1 div {
  display: flex;
  align-items: center;
 }
 head-1__search {
  width: 25px;
  height: 27px;
 }
 .head-1 div .head-1__search {
  margin: 0 14px 0 25px;
 }
.head-1__input-search{
 width: 150px;
 height: 19px;
  background: #77c1bb;
 border: none;
}
 .mic {
  width: 21px;
  height: 26px;
 }
.main-title{
 margin-top: 4px;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 26px;
 color: #372c48;
}
#button{
 margin-top: 10px;
  height: 15px;
  width: 27px;
}
 .button__line:nth-child(2){
 margin-top: 3px;
 margin-bottom: 3px;
}
.transformed-1{
 margin-top: 6px;
  transform: rotate(45deg);
  transition: 0.5s;
}
.transformed-2{
 margin-top: -3px;
  transform: rotate(-45deg);
  transition: 0.5s;
}
.button__line{
  width: 27px;
  height: 3px;
  background: #372c48;
}
.menu{
  position: absolute;
  padding: 23px 0 0 22px;
  margin-top: 54px;
  left: -70%;
  height: 100vh;
  width: 63.3%;
  background: #fff;
  z-index: 99;
}
.move-right{
  left: 0;
  transition: 0.5s;
}
.move-left{
  left: -70%;
  transition: 0.5s;
}
 #block {
   display: flex;
 align-items: center;
  height: 24px;
  width: 30px;
  background-size: contain;
 }

.menu__img1{
  background: url(../img/film480.png) no-repeat;
}
.menu__img2{
  background: url(../img/TVseries480.png) no-repeat;
  margin-top: 38px;
}
.menu__img3{
  background: url(../img/favorites480.png) no-repeat;
  margin-top: 32px;
}
.category{
 font-family: 'Roboto-Medium', sans-serif;
  margin-left: 74px;
 font-size: 17px;
 line-height: 30px;
 color: #372c48;
}
 .category:hover {
  color: #77c1bb;
 }
.menu__films{
margin-left: 96px;
}

 @media screen and  (max-width: 479px) {
  
  header{
   height: 25px;
   padding: 15px 19px 16px 18px;
   box-sizing: content-box;
 }
  .head__logo{
  height: 24px;
  width: 25px;
  margin:0 8px 0 18px;
}
  .main-title{
   margin-top: 4px;
  font-size: 20px;
}
 .button__line{
  width: 19px;
  height: 3px;
}
  .head__search{
  width: 20px;
  height: 20px;
}


 .head-1__search {
  width: 20px;
  height: 20px;
  margin: 0 12px 0 21px;
 }
.head-1__mic {
  width: 20px;
  height: 20px;
 }
 .menu{
 margin-top: 41px;
 padding: 19px 0 0 17px;
}
#button{
 margin-top: 6px;
}
.menu__img1{
  background: url(../img/film360.png) no-repeat;
}
.menu__img2{
  background: url(../img/TVseries360.png) no-repeat;
  margin-top: 26px;
}
.menu__img3{
  background: url(../img/favorites360.png) no-repeat;
  margin-top: 30px;
}
  .category{
  margin-left: 56px;
 font-size: 14px;
 line-height: 24px;
}
  .link {
  line-height: 24px;
 font-size: 12px;
}
  .menu__films{
margin-left: 72px;
}
  #block {
  height: 18px;
  width: 22px;
 }
}