body {
    background-color: #fff
}

a {
    text-decoration: none;
    color: white;
}

#searchMovie {
    display: flex;
    flex-wrap: wrap;
    @include respond-to(large-desktop){
        width: 90%;
        margin: 0 auto;
    }
}

.movie-card {
    margin: 5px;
    max-height: 550px;
    border-radius: 3px;

    @include respond-to(mobile-extra-small){
        flex: 0 0 98%;
    }
    @include respond-to(mobile-small){
        flex: 0 0 98%;
    }
    @include respond-to(desktop){
        flex: 0 0 48.5%;
    }
    @include respond-to(large-desktop){
        flex: 0 0 48.5%;
    }

    width: 100%;
    max-height: 220px;
    border-radius: 3px;

    &__wrapper {

        position: relative;
        background-position: 50%;
        background-size: cover;

        @include respond-to(mobile-extra-small){
            min-height: 175px;
        }
        @include respond-to(mobile-small){
            min-height: 220px;
        }
    }

    &__title {

        font-family: $title;
        color: #fff;

        @include respond-to(mobile-extra-small){
            font-size: 20px;
        }
        @include respond-to(mobile-small){
            font-size: 24px;
        }
    }

    &__controls {
        text-align: right;
    }

    &__button {
        
        border: none;
        background: none;
        background-repeat: no-repeat;
        background-position: 50%;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:nth-child(2){
            margin-left: 5px;
        }

        &--favorite {
            background-image: url(../img/favorite.png)
        }

        &--reminde {
            background-image: url(../img/reminde.png)
        }
    }

    .gradient {

        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respond-to(mobile-extra-small){
            min-height: 175px;
        }
        @include respond-to(mobile-small){
            min-height: 220px;
        }
        @include respond-to(tablet){
            min-height: 235px;
        }
        @include respond-to(desktop){
            min-height: 250px;
        }
    }
}


.gradient {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(22,19,20,0) 62%, rgba(25,22,23,0.5) 70%, rgba(27,24,25,0.75) 76%, rgba(29,26,27,0.9) 82%, rgba(32,29,30,1) 92%, rgba(35,31,32,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(22,19,20,0) 62%,rgba(25,22,23,0.5) 70%,rgba(27,24,25,0.75) 76%,rgba(29,26,27,0.9) 82%,rgba(32,29,30,1) 92%,rgba(35,31,32,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(22,19,20,0) 62%,rgba(25,22,23,0.5) 70%,rgba(27,24,25,0.75) 76%,rgba(29,26,27,0.9) 82%,rgba(32,29,30,1) 92%,rgba(35,31,32,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#231f20',GradientType=0 );
}

