.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	margin: 15px;
}

.carousel {
  position: relative;
  width: 320px;
}

.gallery {
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.gallery ul {
  display: flex;
  height: 100%;
  width: 999999999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.gallery li {
  display: inline-block;
  
}

.main_card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}

.main_img {
  max-width: 320px;
  width: 100%;
  height: 180px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}

.main_img h1 {
  padding: 22px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  padding-top: 120px;
}

.text_description {
  font-size: 16px;
  font-family: 'MyriadPro', sans-serif;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}

.images li img {
  margin-bottom: 5px;
  border-radius: 50%;
}

.images li {
  text-align: center;
  width: 70px;
  margin-left: 5px;
  margin-right: 5px;
}

.actors {
  width: 100%;
  align-items: flex-start;

}

.actors h2 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
}

.links .star {
  display: inline-block;
  background: url("../img/star.png") no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.links .ring {
  display: inline-block;
  background: url("../img/ring.png") no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}

.main_links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 5px;

}

.time_item {
  margin: 0;
  color: #77c1bb;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.gallery-text {
  font-size: 14px; 
  color: #77c1bb; 
  font-family: "Roboto", sans-serif; 
  text-align: center;
}

.gallery-img {
  width: 100%;
  height: 70px;
  display: block;
  border-radius: 50%;
  margin-bottom: 5px;
  background-position: 0;
  background-size: cover;
  background-repeat: no-repeat;

}

.images_item {
  position: relative;
}

.trailer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	width: 100%;
}

.trailer-title h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
    color: #5e576a;
    margin-bottom: 15px;
}

.trailer-main {
	width: 100%;
}

.trailer-video {
	width: 100%;
	height: 200px;
}

.reviews {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	width: 100%;
}

.reviews-title h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
    color: #5e576a;
    margin: 20px 0;
}

#reviews-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

.reviews-avatar {
	width: 15%;
	height: 50px;
	color: #212121;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}

.avatar {
	display: inline-flex;
	width: 50px;
	height: 100%;
	padding: 0;
	align-items: center;
	justify-content: center;
	background-color: $main-background;
	text-transform: uppercase;
	border-radius: 50%;
}

.reviews-post {
	width: 60%;
	margin-left: 10px;
}

.username {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #212121;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 10px;
}

.reviews-text {
	max-height: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 5px;
	font-family: 'Roboto', sans-serif;
	color: #5e576a;
}

.reviews-text-big {
	margin-top: 5px;
	font-family: 'Roboto', sans-serif;
	color: #5e576a;
}

.reviews-date {
	font-family: 'Roboto', sans-serif;
	color: #5e576a;
	width: 15%;
	display: inline-block;
	vertical-align: top;
  margin-left: 15px;
  margin-top: 12px;
}

.more-info {
	color: $main-background;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

@include respond-to(desktop) {
  
  .trailer-main {
    justify-content: center;
    width: 70%;
    margin: auto;
  }

  .trailer-video {
    height: 300px;
  }

  .reviews-avatar {
    width: 10%;
    margin-top: 5px;
  }

  .reviews-date {
    width: 10%;
    margin-left: 0;
    margin-top: 10px;
  }

  .reviews-post {
    width: 80%;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@include respond-to(desktop-extra) {
  
  .container {
    margin-left: 200px;
    margin-right: 200px;
  }

  .trailer-main {
    justify-content: center;
    width: 70%;
    margin: auto;
  }

  .trailer-video {
    height: 435px;
  }

  .reviews-avatar {
    width: 10%;
    margin-top: 5px;
  }

  .reviews-date {
    width: 10%;
    margin-left: 0;
    margin-top: 10px;
  }

  .reviews-post {
    width: 80%;
    margin-left: 0;
    margin-bottom: 10px;
  }
}