//.container {
//  display: flex;
//  justify-content: center;
//  flex-direction: column;
//  flex-wrap: nowrap;
//  align-items: center;
//  align-content: center;
//  margin: 15px;
//  /* max-width: 360px; */
//}

.wrapper {
  padding: 15px;  
}

.carousel {
  position: relative;
  width: 320px;
}

.gallery {
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.gallery ul {
  display: flex;
  height: 100%;
  width: 999999999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.gallery li {
  display: inline-block;

}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__img {
    max-width: 320px;
    width: 100%;
    height: 180px;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 20px;
    position: relative;
  }
  &__about{
    &--title {
      position: absolute;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      color: #ffffff;
      top:212px;
      left:50px;
    }
  }
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 5px;

  &__block{
    &--star{
      display: inline-block;
      background: url("../img/star.png") no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      margin-right: 3px;
    }
    &--ring{
      display: inline-block;
      background: url("../img/ring.png") no-repeat;
      background-size: contain;
      width: 15px;
      height: 15px;
    }
  }
  &__time{
    &--item{
      margin: 0;
      color: #77c1bb;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
    }
  }
}

table{
  display: none;
}

.description{
  &__title{
    display: none;
  }
  &__text {
    font-size: 16px;
    font-family: 'MyriadPro', sans-serif;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.images li img {
  margin-bottom: 5px;
  border-radius: 50%;
}

.images li {
  text-align: center;
  width: 70px;
  margin-left: 5px;
  margin-right: 5px;
}

.actors {
  width: 100%;
  align-items: flex-start;

}

.actors h2 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
}



.gallery-text {
  font-size: 14px;
  color: #77c1bb;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.gallery-img {
  width: 100%;
  height: 70px;
  display: block;
  border-radius: 50%;
  margin-bottom: 5px;
  background-position: 0;
  background-size: cover;
  background-repeat: no-repeat;

}

.images_item {
  position: relative;
}

.trailer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  width: 100%;
}

.trailer-title h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #5e576a;
  margin-bottom: 15px;
}

.trailer-main {
  width: 100%;
}

.trailer-video {
  width: 100%;
  height: 200px;
}

.reviews {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  width: 100%;
}

.reviews-title h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #5e576a;
  margin: 20px 0;
}

#reviews-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.reviews-avatar {
  width: 15%;
  height: 50px;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

.avatar {
  display: inline-flex;
  width: 50px;
  height: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: #77c1bb;
  text-transform: uppercase;
  border-radius: 50%;
}

.reviews-post {
  width: 60%;
  margin-left: 10px;
}

.username {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #212121;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 10px;
}

.reviews-text {
  max-height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  color: #5e576a;
  /* display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical; */

}

.reviews-text-big {
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  color: #5e576a;
}

.reviews-date {
  font-family: 'Roboto', sans-serif;
  color: #5e576a;
  width: 15%;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}

.more-info {
  color: #77c1bb;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.slider {
  display: flex;
  justify-content: space-around;
  &-cadrs {
    position: relative;
    .arrow-left {
      position: absolute;
      top: 70px;
      left: -30px;
      width: 16px;
      height: 16px;
      color: #77c1bb;
      cursor: pointer;
    }
    .arrow-right {
      position: absolute;
      top: 70px;
      right: -30px;
      width: 16px;
      height: 16px;
      color: #77c1bb;
      cursor: pointer;
    }    
  }
}

.arrow-left__actors {
  position: absolute;
  top: 70px;
  left: -30px;
  width: 16px;
  height: 16px;
  color: #77c1bb;
  display: none;
  cursor: pointer; 
}

.arrow-right__actors {
  position: absolute;
  top: 70px;
  right: -30px;
  width: 16px;
  height: 16px;
  color: #77c1bb;
  display: none;
  cursor: pointer;
}

.part {
  position: relative;
  width: 518px;
  overflow: hidden;
  height: 90px;
  &-title {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
  }
  &-slider {
    display: flex;
    width: 9999999999px;
    height: 100%;
    transition: .5s all ease;
  }
  &-slide {
    margin: 0 5px;
    height: 100%;
    width: 120px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.slider-cadrs {
  display: none;
}

.slider-actor {
  position: relative;
}

@include respond-to(desktop) {
  .wrapper_box{
    display: flex;
    flex-flow: column wrap;
    .slider{
      order: 2;
      margin-top: 72px;
    }
    .trailer{
      order: 1;
    }
  }
  
  .arrow-left__actors {
    display: block
  }
  .arrow-right__actors {
    display: block
  }

  .slider-cadrs {
    display: block;
  }

  .card {
    display: flex;
    justify-content: space-between;
    padding: 68px 22px;

    &__img{
      height: 436px;
    }

    &__about {
      width: 550px;
      &--title {
        position: static;
        color: #000;
        top: none;
        left: none;
      }
    }
  }

  table{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'MyriadPro', sans-serif;
    font-size: 16px;
    width: 550px;
    border: none;

    td{
      padding: 10px 15px;
      width:20%;
    }
    tr:nth-of-type(odd){
      background-color: #addad6;
    }
  }

  .description {
    &__title {
      display: inline;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      color: #000;
    }
  }

  .links {
    padding-top: 18px;
    &__block{
      &--star{
        // background: url("../img/blue_star.png") no-repeat;
        padding-right: 22px;
      }
      &--ring{
        // background: url("../img/blue_ring.png") no-repeat;
      }
    }
    &__time{
      display: none;
    }
  }
  .trailer-main {
    justify-content: center;
    width: 70%;
    margin: auto;
  }
 
  .trailer-video {
    height: 300px;
  }
 
  .reviews-avatar {
    width: 10%;
    margin-top: 5px;
  }
 
  .reviews-date {
    width: 10%;
    margin-left: 0;
    margin-top: 10px;
  }
 
  .reviews-post {
    width: 80%;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@include respond-to(desktop-extra) {
  .wrapper_box{
    display: flex;
    flex-flow: column wrap;
    .slider{
      order: 2;
      margin-top: 72px;
    }
    .trailer{
      order: 1;
    }
  }

  .arrow-left__actors {
    display: block
  }
  .arrow-right__actors {
    display: block
  }

  .slider-cadrs {
    display: block;
  }

  .card {
    display: flex;
    justify-content: space-between;
    padding: 68px 22px;

    &__img{
      max-width: 406px;
      height: 438px;
    }

    &__about {
      width: 550px;
      &--title {
        position: static;
        color: #000;
        top: none;
        left: none;
      }
    }
  }

  table{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'MyriadPro', sans-serif;
    font-size: 16px;
    width: 550px;
    border: none;

    td{
      padding: 10px 15px;
      width:20%;
    }
    tr:nth-of-type(odd){
      background-color: #addad6;
    }
  }

  .description {
    &__title {
      display: inline;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      color: #000;
    }
  }

  .links {
    padding-top: 18px;
    &__block{
      &--star{
        // background: url("../img/blue_star.png") no-repeat;
        padding-right: 22px;
      }
      &--ring{
        // background: url("../img/blue_ring.png") no-repeat;
      }
    }
    &__time{
      display: none;
    }
  }

  .wrapper {
    width: 1045px;
    margin: 0 auto;
  }

  .container {
  }
 
  .trailer-main {
    justify-content: center;
    width: 70%;
    margin: auto;
  }
 
  .trailer-video {
    height: 435px;
  }
 
  .reviews-avatar {
    width: 10%;
    margin-top: 5px;
  }
 
  .reviews-date {
    width: 10%;
    margin-left: 0;
    margin-top: 10px;
  }
 
  .reviews-post {
    width: 80%;
    margin-left: 0;
    margin-bottom: 10px;
  }
}
