.search {
    vertical-align: top;
    border: none;
    position: absolute;
     visibility: hidden;
    background-color: $main-background;
    height: 450px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
}

.search_hidden {
    top: -100%;
    transition: 0.5s;
}

.search_show {
    top: 0;
    transition: 0.5s;
}

::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffffff;}

 .black_background{
     position: absolute;
     z-index: -5;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: #000000 center center;
     opacity: .25;
     width: 100%;
     height: 100vh;
 }

img.logo{
    position: relative;
    // visibility: hidden;
    z-index: 10;
    top: 60px;
}
#search-form{
    position: absolute;
    top: 272px;
    width: 233px;
    height: 28px;
}
#search-form_input_search{
    background: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ffffff;
    font-family: "Roboto";
    color: #fff;
    font-size: 1em;
    width: 100%;
}
#search-form_input_submit{
    position: absolute;
    background: none;
    background-image: url(../../img/search-arrow_360.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    z-index: 5;
    left: calc(98% - 1em);
    bottom: 0em;
    border: 0;
    padding: 5px;
}
#search-form_input_search[placeholder]{
    background-image: url(../../img/search-glass_360.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    color: #fff;
}
@media (min-width: 479px){
    #search-form{
        width: 311px;
        height: 28px;
    }
}
@media (min-width: 767px){
    .search{
        height: 368px;
    }
    #search-form{
        top: 310px;
        width: 226px;
    }
    #search-form_input_submit{
        display: none;
    }
}
@media (min-width: 959px){
    .search{
        height: 456px;
    }   
}
@media (min-width: 1023px){
    .search{
        height: 616px;
    }
    #search-form{
        top: 380px;
        width: 401px;
    }
}
@media (min-width: 1439px){
    #search-form{
        top: 480px;
    }
}
