/* fonts */
$title2: "Roboto2", sanserif;
$title: "Roboto", sanserif;

/*media points*/
$break-extra-small: 360px;
$break-small: 767px;

$break-medium: 768px;
$break-medium-large: 960px;

$break-desktop: 1024px;
$break-extra-desktop: 1440px;

$main-background: #77c1bb;
