/* fonts */
$title2: "Roboto2", sanserif;
$title: "Roboto", sanserif;

/*media points*/
$break-extra-small: 360px;
$break-small: 481px;
$break-desktop: 1024px;
$break-extra-desktop: 1440px;
$break-medium: 721px;
$break-large: 1025px;
$main-background: #77c1bb;
