@mixin respond-to($media) {
    @if $media == mobile-extra-small {
      @media all and (min-width: 319px) and (max-width: $break-extra-small) { @content; }
    }
    @else if $media == mobile-small {
      @media all and (min-width: $break-extra-small + 1) and (max-width: $break-small) { @content; }
    }
    @else if $media == medium {
      @media all and (min-width: $break-medium) and (max-width: $break-medium-large) { @content; }
    }
    @else if $media == medium-large {
      @media all and (min-width: $break-medium-large + 1) and (max-width: $break-desktop)
      { @content; }
    }
    @else if $media == desktop {
      @media all and (min-width: $break-desktop + 1) and (max-width: $break-extra-desktop) { @content; }
    }
    @else if $media == desktop-extra {
      @media all and (min-width: $break-extra-desktop + 1) { @content; }
    }
  }
