//= templates/header.html
<div class="wrapper">
    <div class="card">
        <div class="card__img">
        </div>
        <div class="card__about">
            <h1 class="card__about--title">Темные времена(2017)</h1>
            <div class="links">
                <div class="links__block">
                    <a href="#" class="links__block--star"></a>
                    <a href="#" class="links__block--ring"></a>
                </div>
                <div class="links__time">
                    <p class="links__time--item">12.12.12</p>
                </div>
            </div>
            <table>
                <tr>
                    <td>страна</td>
                    <td class="table-country">США, Великобритания</td>
                </tr>
                <tr>
                    <td>слоган</td>
                    <td class="table-tagline">Никогда не сдавайся</td>
                </tr>
                <tr>
                    <td>режиссер</td>
                    <td class="table-producer">Джо Райт</td>
                </tr>
                <tr>
                    <td>сценарий</td>
                    <td class="table-filmcontent">Энтони МакКартен</td>
                </tr>
                <tr>
                    <td>жанр</td>
                    <td class="table-filmtype"></td>
                </tr>
                <tr>
                    <td>время</td>
                    <td class="table-runtime">125 мин</td>
                </tr>
            </table>
            <div class="description">
                <h1 class="description__title">Про фильм</h1>
                <p class="description__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus reprehenderit temporibus itaque. Veniam quia harum esse necessitatibus dolorum vel fuga eius id quisquam illum doloremque magnam molestias modi, tempora officia?Voluptas illo soluta inventore esse sapiente ab accusantium quam eveniet! Eos assumenda harum nostrum cum natus! Obcaecati temporibus quaerat eius necessitatibus laudantium ipsa, voluptates fuga reiciendis voluptatum, ullam, quidem unde!
                </p>
            </div>
        </div>
    </div>
        <div class="wrapper_box">
        <div class="slider">
            <div class="slider-actor">
                <div class="actors">
                    <h2>Актеры</h2>
                </div>
                <span class="arrow-left__actors">&#9664;</span>
                <div id="carousel" class="carousel">
                    <div class="gallery">
                        <ul class="images">

                        </ul>
                    </div>
                </div>
                <span class="arrow-right__actors">&#9654;</span>
            </div>
            <div class="slider-cadrs">
                <div class="part-title">
                    <h2>Кадры из фильма</h2>
                </div>
                <span class="arrow-left">&#9664;</span>
                <div class="part">
                    <ul class="part-slider">
                        <li class="part-slide">
                            <div class="part-slide__item"></div>
                        </li>
                        <li class="part-slide">
                            <div class="part-slide__item"></div>
                        </li>
                        <li class="part-slide">
                            <div class="part-slide__item"></div>
                        </li>
                        <li class="part-slide">
                            <div class="part-slide__item"></div>
                        </li>
                        <li class="part-slide">
                            <div class="part-slide__item"></div>
                        </li>
                        <li class="part-slide">
                            <div class="part-slide__item"></div>
                        </li>
                        <li class="part-slide">
                            <div class="part-slide__item"></div>
                        </li>
                        <li class="part-slide">
                            <div class="part-slide__item"></div>
                        </li>
                    </ul>
                </div>
                <span class="arrow-right">&#9654;</span>
            </div>
        </div>
        <script type="text/template" id="gallery-item">
            <% for(let i = 0; i < 10; i++) { %>
            <li class="images_item">
                <div class="gallery-img" style="background-image: url(<%- galleryItems.img[i] %>)"></div>
                <span class="gallery-text">
                        <%- galleryItems.text[i] %>
                    </span>
            </li>
            <% }; %>
        </script>

        <!--<div class="container">-->

            <div class="trailer">
                <div class="trailer-title">
                    <h2>Трейлер</h2>
                </div>
                <div class="trailer-main">
                    <iframe class="trailer-video" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

            <div class="reviews">

                <div class="reviews-title">
                    <h2>Отзывы</h2>
                </div>

                <div id="reviews-container">
                </div>

            </div>


	<script type="text/template" id="reviews-main">
		<% for (i=0; i < reviews.length; i++) { %>
			<div class="reviews-avatar">
				<span class="avatar"><%= reviews[i].author.charAt(0) %></span>
			</div>
			<div class="reviews-post">
				<p class="username"><%= reviews[i].author %></p>
				<% if (reviews[i].content.length <= 156) { %>
					<p class="reviews-text"><%= reviews[i].content %></p>
				<% } else { %>
					<p class="reviews-text big-post"><%= `${reviews[i].content.slice(0, 152)}...` %><a class="more-info"><span>еще</span></a></p>
				<% } %>
			</div>
			<div class="reviews-date">
				<p class="reviews-date-item">23 дек</p>
			</div>
		<% } %>
    </script>
</div>
//= templates/footer.html
//= templates/movieCard.html
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="js/scripts.js"></script>
</div>
</body>
</html>